- if @service.errors.any?
  .alert.alert-danger.fade.in
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
    %ul
    - @service.errors.full_messages.each do |msg|
      %li
        = msg

.create-api-form
  = form_for(@service, multipart: true) do |f|
    = f.label "Title:"
    = f.text_field :name, :class => "form-control", :placeholder => "Don't overthink it."
    = f.label "Purpose:"
    = f.text_area :description, :class => "form-control", :placeholder => "Tell us a bit about your data and how you'd like to see it used."
    %br
    %form{:action => "https://#{ENV['S3_BUCKET']}.s3.amazonaws.com", :method => "post", :enctype => "multipart/form-data", :class => 'direct-upload'}
      %input{type: :hidden, name: :key}
      %input{type: :hidden, name: "AWSAccessKeyId", value: ENV["AWS_ACCESS_KEY_ID"]}
      %input{type: :hidden, name: :acl, value: 'public-read'}
      %input{type: :hidden, name: :policy}
      %input{type: :hidden, name: :signature}
      %input{type: :hidden, name: :success_action_status, value: "201"}
      %input{type: :file, name: :file }
        .progress
          .progress-bar.progress-bar-striped.active
      #file-completion
    %br  
    = f.label "Tags:"
    = f.text_field :tags, :class => "form-control", :placeholder => "Separate tags with commas. Descriptive tags make your API more visible to the developer community.", :value => nil
    = f.hidden_field :file, value: "https://#{ENV['S3_BUCKET']}.s3.amazonaws.com/"
    %br
    = f.submit "Import", :class => "btn btn-primary", data: { confirm: "NOTE: You are about to make this data public. Press OK to continue:" }
