= render partial: "create_organization" if @user.organization.nil?
- if @user.organization
  = form_for @service, multipart: true do |f|
    = f.label :name
    = f.text_field :name, :class => "form-control"
    = f.label :description
    = f.text_area :description, :class => "form-control"
    = f.file_field :file
    = f.submit "Import", :class => "btn btn-default"
