%h3
  -if @error
    = @error

- if @service.organization_id != current_user.organization_id
  You must be a member of the organization to update this API

%form(action="https://#{ENV['S3_BUCKET']}.s3.amazonaws.com" method="post" enctype="multipart/form-data" class='direct-upload')
  %input{type: :hidden, name: :key}
  %input{type: :hidden, name: "AWSAccessKeyId", value: ENV["AWS_ACCESS_KEY_ID"]}
  %input{type: :hidden, name: :acl, value: 'public-read'}
  %input{type: :hidden, name: :policy}
  %input{type: :hidden, name: :signature}
  %input{type: :hidden, name: :success_action_status, value: "201"}

  %input{type: :file, name: :file }
  .progress
    .progress-bar.progress-bar-striped.active
  #file-completion

= form_for @service, as: :service, url: "/services/"+@service.slug, method: :put, multipart: true do |f|
  = f.hidden_field :file, value: "https://#{ENV['S3_BUCKET']}.s3.amazonaws.com/"
  = f.hidden_field :updating, value: "true"
  = f.hidden_field :new_version, value: "false"
  = f.hidden_field :append, value: "false"
  = f.submit "Update", data: { confirm: "NOTE: You are about to make this csv's data available to the public. If you are okay with this, Press OK to continue:" }, class: "form-control btn btn-default", :id => "update-service-button"
