.col-md-8.col-md-offset-2
  %h2 APIs Available:
  = search_form_for @q do |f|
    = f.label "Search:"
    = f.search_field :name_or_description_or_tags_name_cont, :class => "form-control", :id => "search-bar"
    %p
      = f.submit "Search", :class => "btn btn-default form-control search-btn"
  %ul.service-list
    -@results.each do |r|
      %ul.serv-list
        %li
        = link_to "#" do
          = link_to "#{r.name}", "/services/#{r.slug}"
          = link_to "#" do
            %i.fa.fa-chevron-circle-down{:id => "#{r.slug}", :class => "displayer"}
        %ul.hideable{:id => "#{r.slug}"}
          %li.sublist
            = r.description
          %li.sublist
            Created: #{r.created_at.strftime("%B %d, %Y")}
          %li.sublist
            Most Recent Update: #{r.created_at.strftime("%B %d, %Y")}
          %li.sublist
            =mail_to r.organization.users.first.email, " Contact email", encode: "javascript", class: "fa fa-envelope"
        %hr
    .custom_pagination
      = paginate @results
