- if current_user
  .col-md-2
  .col-md-8
    .btn.btn-default.new-api
      = link_to "New API", services_new_path
    -if params[:page] == "1" || !params[:page]
      %h2 Your Organization's APIs:
      %ul.service-list
        - @my_services.each do |s|
          %li
            %p
              = link_to "#{s.name}", "/services/#{s.slug}"
            %p
              = link_to "View data", "/services/#{s.slug}/records"
            %p.service-description
              = s.description
            %p
              Records Count: #{s.records.count}
            %p
              Created: #{s.created_at.strftime("%B %d, %Y")}
            %p
              Most Recent Update: #{s.created_at.strftime("%B %d, %Y")}
    %h2 APIs Available:
    %ul.service-list
      - @services.each do |s|
        -if !current_user.organization.services.include?(s)
          %li
            %p
              = link_to "#{s.name}", "/services/#{s.slug}"
            %p.service-description
              = s.description
    .custom_pagination
      = will_paginate @services
  .col-md-2



- if !current_user
  .col-md-2
  .col-md-8
    %h2 APIs Available:
    %ul.service-list
      - @services.each do |s|
        %li
          %p
            = link_to "#{s.name}", "/services/#{s.slug}"
          %p.service-description
            = s.description
    .custom_pagination
      = will_paginate @services
  .col-md-2

