.col-md-8.col-md-offset-2
  %h2 APIs Available:
  = form_tag(services_path, :method => "get", class: "navbar-form", id: "search-form") do
    = text_field_tag :search, params[:search], placeholder: "Search APIs"
  %ul.service-list
    -@services.each do |s|
      %ul.serv-list
        %li
        = s.name
        = link_to "#" do
          = link_to "#{s.name}", "/services/#{s.slug}"
          = link_to "#" do
            %i.fa.fa-chevron-circle-down{:id => "#{s.slug}", :class => "displayer"}
        %ul.hideable{:id => "#{s.slug}"}
          %li.sublist
            = s.description
          %li.sublist
            = "Organization: #{s.organization.name}"
          %li.sublist
            Created: #{s.created_at.strftime("%B %d, %Y")}
          %li.sublist
            Most Recent Update: #{s.created_at.strftime("%B %d, %Y")}
          %li.sublist
            =mail_to s.organization.users.first.email, " Contact email", encode: "javascript", class: "fa fa-envelope"
        %hr
    .custom_pagination
      = will_paginate @services
