.col-md-8.col-md-offset-2
  %div#search-container
    = form_tag(services_path, :method => "get", class: "navbar-form", id: "search-form") do
      %div.form-group
        = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search"
      %button{type: "submit", class: "btn btn-default"}
        Submit
  %h2#content-description APIs
  %ul.service-list
    -@services.each do |r|
      %ul.serv-list
        %li
        = link_to "#" do
          = link_to "#{r.name}", "/services/#{r.slug}"
          = link_to "#" do
            %i.fa.fa-chevron-circle-down{:id => "#{r.slug}", :class => "displayer"}
        %ul.hideable{:id => "#{r.slug}"}
          %li.sublist
            = r.description
          %li.sublist
            = "Organization: #{r.organization.name}"
          %li.sublist
            Created: #{r.created_at.strftime("%B %d, %Y")}
          %li.sublist
            Most Recent Update: #{r.created_at.strftime("%B %d, %Y")}
          %li.sublist
            =mail_to r.organization.users.first.email, " Contact email", encode: "javascript", class: "fa fa-envelope"
        %hr
    .custom_pagination
      = will_paginate @results
