- if current_user
  .col-md-2
  .col-md-8
    = link_to "Create API", services_new_path, :class => "form-control btn btn-default", :id => "new-api"
    -if params[:page] == "1" || !params[:page]
      -if current_user.organization
        %h2 Your Organization's APIs:
        %ul.service-list
          - @my_services.each do |s|
            %ul.serv-list
              %li
                = link_to "#{s.name}", "/services/#{s.slug}"
                = link_to "(expand)", "#", :class => "displayer"
              %ul.hideable.hidden
                %li.sublist
                  = s.description
                %li.sublist
                  Created: #{s.created_at.strftime("%B %d, %Y")}
                %li.sublist
                  Most Recent Update: #{s.created_at.strftime("%B %d, %Y")}
                %li.sublist
                  = link_to "(expand)", "#", :class => "displayer"
                  = link_to "Update", {:controller => "services", :action => "edit", :service_slug => s.slug}, {:id => "update-service-button", :class => "btn btn-default form-control"}
              %hr
    -if !current_user.organization
      %h4
        %em
          You haven't created an Organization yet. Click
          %span "Create Organization"
          in the User Navbar to get started!
    -if current_user.organization
      -if current_user.organization.services.count == 0
        %h4
          %em
            You haven't created any API's yet. Click
            %span "Create API"
            to get started!
    %h2 APIs Available:
    %ul.service-list
      - @services.each do |s|
        %li
          %p
            = link_to "#{s.name}", "/services/#{s.slug}"
            = link_to "(hide)", "#", :class => "hider"
          %p.service-description.sublist.hideable.hidden
            = s.description
          %hr
    .custom_pagination
      = will_paginate @services
  .col-md-2



- if !current_user
  .col-md-2
  .col-md-8
    %h2 APIs Available:
    %ul.service-list
      - @services.each do |s|
        %ul.serv-list
          %li
            = link_to "#{s.name}", "/services/#{s.slug}"
          %li.sublist
            = s.description
          %hr
    .custom_pagination
      = will_paginate @services
  .col-md-2

