= search_form_for @q do |f|
  = f.label :Search
  = f.search_field :name_or_description_or_tags_name_cont
  = f.submit
  -@results.each do |r|
    = link_to "#{r.name}", "/services/#{r.slug}"
- if current_user
  .col-md-8.col-md-offset-2
    -if params[:page] == "1" || !params[:page]
      -if current_user.organization
        = link_to "Create API", services_new_path, :class => "form-control btn btn-default pull-right", :id => "new-api"
        %h2 Your Organization's APIs:
        %ul.service-list
          - @my_services.each do |s|
            %ul.serv-list
              %li
                = link_to "#{s.name}", "/services/#{s.slug}"
                = link_to "(expand)", "#", :class => "displayer", :id => "#{s.slug}"
              %ul.hideable{:id => "#{s.slug}"}
                %li.sublist
                  = s.description
                %li.sublist
                  Created: #{s.created_at.strftime("%B %d, %Y")}
                %li.sublist
                  Most Recent Update: #{s.created_at.strftime("%B %d, %Y")}
                %li.sublist
                  = link_to "Update", {:controller => "services", :action => "edit", :service_slug => s.slug}, {:id => "update-service-button", :class => "btn btn-default form-control"}
              %hr
        .custom_pagination
          = will_paginate @my_services

    -if !current_user.organization
      %h4
        %em
          You haven't created an Organization yet. Click
          %span "Create Organization"
          in the User Navbar to get started!
    -if current_user.organization
      -if current_user.organization.services.count == 0
        %h4
          %em
            You haven't created any API's yet. Click
            %span "Create API"
            to get started!
    %h2 APIs Available:
    %ul.service-list
      - @services.each do |s|
        -unless s.organization_id == current_user.organization_id
          %ul.serv-list
            %li
              = link_to "#{s.name}", "/services/#{s.slug}"
              = link_to "(expand)", "#", :class => "displayer", :id => "#{s.slug}"
            %ul.hideable{:id => "#{s.slug}"}
              %li.sublist
                = s.description
              %li.sublist
                Created: #{s.created_at.strftime("%B %d, %Y")}
              %li.sublist
                Most Recent Update: #{s.created_at.strftime("%B %d, %Y")}
              %li.sublist
                =mail_to s.organization.users.first.email, " Contact email", encode: "javascript", class: "fa fa-envelope"
            %hr
    .custom_pagination
      = will_paginate @services



- if !current_user
  .col-md-8.col-md-offset-2
    %h2 APIs Available:
    %ul.service-list
      - @services.each do |s|
        %ul.serv-list
          %li
            = link_to "#{s.name}", "/services/#{s.slug}"
            = link_to "(expand)", "#", :class => "displayer", :id => "#{s.slug}"
          %ul.hideable{:id => "#{s.slug}"}
            %li.sublist
              = s.description
            %li.sublist
              Created: #{s.created_at.strftime("%B %d, %Y")}
            %li.sublist
              Most Recent Update: #{s.created_at.strftime("%B %d, %Y")}
            %li.sublist
              =mail_to s.organization.users.first.email, " Contact email", encode: "javascript", class: "fa fa-envelope"
          %hr
    .custom_pagination
      = will_paginate @services
