.col-md-8.col-md-offset-2
  %ol.breadcrumb
    %li
      = link_to "Home", root_path
    %li
      = link_to "Browse APIs", services_path
    %li.active
      = link_to "#{@service.name}", "#"  

    
  .org-banner
    - if @service.latest_version.records.count == 0
      = 'Your API is being processed. Please check back in a few minutes.'
    %h1
      = @service.name
    %p.org-desc
      = @service.description
  %p
    Status:
    -if @service.activated
      %span.success{"title"=> "Data is accessible to the public.","data-placement" => "right", "data-toggle" => "tooltip"}
        Active
    -else
      %span.danger{"title"=> "Data is no longer accessible to the public.","data-placement" => "right", "data-toggle" => "tooltip"}
        Inactive

  %hr
  .row
    .col-md-5
      %h2
        Versions
      %div.serv-list{:id => "version-lists"}
      %br
        %table.table.table-striped.table-condensed.table-bordered
          %tr
            %th
              Version
            %th
              Created
            %th
              Updated
          - @service.versions.each do |v|
            %tr
              %td
                = link_to "#{v.number}", service_version_path(@service.slug, v.number)
              %td
                = v.created_at.strftime("%b %d, %Y")
              %td
                = v.updated_at.strftime("%b %d, %Y")
    .col-md-5.offset-3
      %ul.serv-list
        %li.serv-name
          %h2
            Details
            %a.displayer#detail-lists{href: "#"}
              %i.fa.fa-chevron-circle-down
          %ul.hideable{:id => "detail-lists"}
            %li.sublist
              Current Version:
              = @service.latest_version.number
            %li.sublist
              License Type:
              = @service.license
              %a{"title" => "Learn more about the #{@service.license} from the Choose A Licence site.", "data-placement" => "right", "data-toggle" => "tooltip", :href => "http://choosealicense.com/", :rel => "tooltip", target: "_blank" }
                %i.fa.fa-info-circle
            %li.sublist
              Creator:
              = link_to "#{@organization.name}", "/organizations/#{@organization.id}"
            %li.sublist
              = @service.updated_at.strftime("Last update: %B %d, %Y")
            %li.sublist
              =mail_to @service.organization.users.first.email, " Contact email", encode: "javascript", class: "fa fa-envelope"
  .row
    .container-fluid.service-show-bubbles
      -if current_user && current_user.organization_id == @service.organization_id
        %a.btn.bubbles.col-xs-6{href: edit_service_path(@service.slug)} Update API
      - if @service.activated == false && @service.organization_id == current_user.organization_id
        = form_tag({controller: "services", action: :activate}, method: "put", data: { confirm: 'Are you sure you want to activate this API? Once you do, Developers will be able to access this data. Press OK to activate.' })
        = submit_tag "Activate API", :class => "btn bubbles col-xs-6"
  - if @service.activated && @service.organization_id == current_user.organization_id
    = form_tag({controller: "services", action: :deactivate}, method: "put", data: { confirm: "Are you sure you want to deactivate this API? Once you do, developers won't be able to access this data. Press OK to deactivate." })
    = submit_tag "Deactivate API", :class => "btn bubbles col-xs-6"










