.col-md-8.col-md-offset-2
  .org-banner
    - if @service.latest_version.total_records == 0
      = 'Your API is being processed. Please check back in a few minutes.'
    %h1
      = @service.name
    %p.org-desc
      = @service.description
  %p.org-date
    = @service.created_at.strftime("Created on: %B %d, %Y")
  %hr
  -if current_user && current_user.organization_id == @service.organization_id
    = link_to "Update", {:controller => "services", :action => "edit", :service_slug => @service.slug}, {:id => "update-service-button", :class => "btn btn-default form-control"}
  %h3 Status:
  - if @service.activated && !current_user || @service.activated && current_user.organization_id != @service.organization_id
    %p This API is currently activated, meaning anyone can access its data.
  - if !@service.activated && !current_user || !@service.activated && current_user.organization_id != @service.organization_id
    %p This API is currently deactivated, meaning no one can access its data.
  -if current_user && current_user.organization_id == @service.organization_id
    - if @service.activated && @service.organization_id == current_user.organization_id
      %p This API is currently activated, meaning anyone can access its data. If you wish to close access to this API, Click below.
      = form_tag({controller: "services", action: :deactivate}, method: "put", data: { confirm: 'Are you sure you want to deactivate this API? Once you do, Developers will no longer have access to this data. Press OK to deactivate.' })
      = submit_tag "Deactivate API", :class => "btn btn-default form-control activ-serv-btn"

    - if @service.activated == false && @service.organization_id == current_user.organization_id
      %p This API is currently deactivated, meaning no one can access its data. If you wish to reopen access to this API, Click below.
      = form_tag({controller: "services", action: :activate}, method: "put", data: { confirm: 'Are you sure you want to activate this API? Once you do, Developers will be able to access this data. Press OK to activate.' })
      = submit_tag "Activate API", :class => "btn btn-default form-control activ-serv-btn"
  %ul.serv-list
    %li.serv-name
    - if current_user && @service.organization_id == current_user.organization_id
      %ul
        %li
    %h3
      Details:
      = link_to "(expand)", "#", :class => "displayer", :id => "#{@service.slug}"
    %ul.hideable{:id => "#{@service.slug}"}
      %li
        Current Version:
        = @service.latest_version.number
      %li
        License Type:
        = @service.license
        %a{"title" => "Learn more about the #{@service.license} from the Choose A Licence site.", "data-placement" => "right", "data-toggle" => "tooltip", :href => "http://choosealicense.com/", :rel => "tooltip", target: "_blank" }
          %i.fa.fa-info-circle
      %li
        Creator:
        = link_to "#{@organization.name}", "/organizations/#{@organization.id}"
      %li= @service.updated_at.strftime("Last update: %B %d, %Y")
      %li
        =mail_to @service.organization.users.first.email, " Contact email", encode: "javascript", class: "fa fa-envelope"
    = link_to "Versions", "/services/#{@service.slug}/versions", {:id => "update-service-button", :class => "btn btn-default form-control"}
