%h1 Title
%p= @service.name

%h3 Description
%p
  = @service.description

%h4 Details
%ul
  %li Current Version:
  %li
    License Type:
    = @service.license
    %a{"title" => "Learn more about the #{@service.license} from the Choose A Licence site.", "data-placement" => "right", "data-toggle" => "tooltip", :href => "http://choosealicense.com/", :rel => "tooltip", target: "_blank" }
      %i.fa.fa-info-circle
  %li
    Creator:
    = @organization.name
  %li= @service.created_at.strftime("Created: %m/%d/%Y")
  %li= @service.updated_at.strftime("Last update: %m/%d/%Y")
  %li

%hr

%h4 How to use
%p
  In order to use the
  = @service.name
  service, do the following things...


.service_headers
  %h4 Service Headers
  = @service.records.first.attributes.keys[1..-1]
  %ul
  - @service.records.first.attributes.keys[1..-1].each do |att|
    %li=att


.service_example_json
  %h4 Service Example
  = @service.records.first.attributes

- if @service.organization_id == current_user.organization_id
  = form_tag({controller: "services", action: :destroy}, method: "delete")
  = submit_tag "Delete API"
