.row
  .col-md-4
  .col-md-4.form-group.logging
    =form_for :session, url: { controller: "sessions", action: "create"} do |f|
      = f.label :email
      = f.text_field :email, :class => "form-control"
      = f.label :password
      = f.password_field :password, :class => "form-control"
      = f.submit "Login", :class => "btn btn-default form_submit"
.row
  .col-md-4
  .btn.btn-sm.btn-default
    = link_to "Create a New User", new_user_path

