- if @user.errors.any?
  .alert.alert-danger.fade.in
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
    %ul
    - @user.errors.full_messages.each do |msg|
      %li
        = msg
.row
  .col-md-4
  .col-md-4.form-group.logging
    =form_for @user, url: { controller: "users", action: "create"} do |f|
      = f.label :name
      = f.text_field :name, :class => "form-control"
      = f.label :email
      = f.text_field :email, :class => "form-control"
      = f.label :password
      = f.password_field :password, :class => "form-control"
      = f.label :password_confirmation, "Confirm Password"
      = f.password_field :password_confirmation, :class => "form-control"
      = f.submit "Submit", :class => "btn btn-default form_submit"
  .col-md-4