- if @user.errors.any?
  .alert.alert-danger.fade.in
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
    %ul
    - @user.errors.full_messages.each do |msg|
      %li
        = msg
.row
  .col-md-4.form-group.logging.col-md-offset-4
    %h1 Account Creation
    %p A User account and an Organization are required to create an API with SimpleData. After successfully creating your account, you'll be taken to the Organization Creation page.
    =form_for @user, url: { controller: "users", action: "create"} do |f|
      = f.label "Name:"
      = f.text_field :name, :class => "form-control"
      = f.label "Email:"
      = f.text_field :email, :class => "form-control"
      = f.label "Password:"
      = f.password_field :password, :class => "form-control"
      = f.label "Confirm Password:", "Confirm Password"
      = f.password_field :password_confirmation, :class => "form-control"
      = f.submit "Create Account", :class => "btn btn-primary form_submit"
