.col-md-2
.col-md-8.user-profile
  %h1
    =@user.name
  %h3
    Joined
    %span simple-data
    On
    =@user.created_at.strftime("%B %d, %Y")
  -if @organization != nil
    %h3
      Belongs To:
      =link_to "#{@organization.name}", organization_path(@organization.id)
  -if @organization && @user.organization.services
    %hr
    %h3.activity-log
      Activity Log:
    %ul.users-services-list
      -@log[0..-1].each do |s|
        -if s.class == Service
          %li
          Created
          = link_to "#{s.name}", "/services/#{s.slug}"
          on
          =s.created_at.strftime("%B %d, %Y")

        -if s.class == ServiceUpdate
          %li
          Updated
          = link_to "#{Service.find_by(id: s.service_id).name}", "/services/#{Service.find_by(id: s.service_id).slug}"
          on
          =s.created_at.strftime("%B %d, %Y")
  .custom_pagination
    = will_paginate @log
.col-md-2


/ Should add a "user last updated service at" tag for each service--without any seeding for this stuff, I can't do it right now.
