.col-md-8.col-md-offset-2.user-profile
  %h1
    =@user.name
  %h2
    Joined
    %span= t('site_title')
    On
    =@user.created_at.strftime("%B %d, %Y")
  -if @organization != nil
    %h2
      Belongs To:
      =link_to "#{@organization.name}", organization_path(@organization.id)
  -if @organization == nil && @user == current_user
    %h3
      You must create an organization before creating an API.
      %h4=link_to "Create Organization", new_organization_path, :class => "btn btn-default form-control", :id => "create-org-btn"
  -if @organization && @log[0]
    %hr
    %h3.activity-log
      Activity Log:
    %ul.users-services-list
      -@log[0..-1].each do |s|
        -if s.class == "Service"
          %li
          Created
          = link_to "#{s.name}", "/services/#{s.slug}"
          on
          =s.created_at.strftime("%B %d, %Y")

        -if s.class == "ServiceUpdate"
          %li
          Updated
          = link_to "#{Service.find_by(id: s.service_id).name}", "/services/#{Service.find_by(id: s.service_id).slug}"
          on
          =s.created_at.strftime("%B %d, %Y")
  .custom_pagination
    = paginate @paginatable_log
