%h1
  About
  = t('site_title')
%p
  = t('site_title')
  was presented as an idea by our team lead Eleni Chappen during 'Pitch Day' at Dev Bootcamp Chicago on December 17th, 2014.
%p
  The idea behind
  = t('site_title')
  was to build a web app that would liberate data that was languishing in spreadsheets, and make it easy to share that data in a form that developers could use to leverage the data in their apps.
%p
  Although it might sound like a simple idea on the surface, creating an application that would be simultaneously approachable by novice users and useful to technologically sophisticated developers was not easy.

%hr
.row
  .col-md-4.col-sm-5.col-lg-4
    = render 'eleni_card'
  .col-md-4.col-sm-5.col-lg-4
    = render 'dave_card'
  .col-md-4.col-sm-5.col-lg-4
    = render 'grant_card'
  .row
  .col-md-4.col-sm-5.col-lg-4
    = render 'ryan_card'
  .col-md-4.col-sm-5.col-lg-4

  .col-md-4.col-sm-5.col-lg-4
    = render 'jordy_card'