%h1 Contact Us

.row
  .col-md-4.col-sm-5.col-lg-4
    = render 'eleni_card'
  .col-md-4.col-sm-5.col-lg-4
    = render 'dave_card'
  .col-md-4.col-sm-5.col-lg-4
    = render 'grant_card'
.row
  .col-md-4.col-sm-5.col-lg-4
    = render 'ryan_card'
  .col-md-4.col-sm-5.col-lg-4

  .col-md-4.col-sm-5.col-lg-4
    = render 'jordy_card'
.row
%h3
  If you have a support request, or a question about SimpleData, please contact us via at
  /= link_to "Contact Us", new_contact_path

