.col-md-8.col-md-offset-2
  .org-banner
    %h1
      = @service.name
    %p.org-desc
      = @service.description
  %ul.serv-list
    - @versions.each do |v|
      %li.serv-name
        Version:
        = link_to "#{v.number}", service_version_path(@service.slug, v.number)
      %ul
        %li= v.created_at.strftime("Created: %B %d, %Y")
      %ul
        %li= v.updated_at.strftime("Last Updated: %B %d, %Y")
