.col-md-8.col-md-offset-2
  %ol.breadcrumb
    %li
      = link_to "Home", root_path
    %li
      = link_to "Services", services_path
    %li.active
      = link_to "Back to #{@service.name}", service_path

  .org-banner
    %h1
      = @service.name
      %span.badge
        ="V#{@version.number}"
    %p.org-desc
      = @service.description
    %br
    %h4
      %a.col-md-4{href: "#resource_uri"}
        Resource URI
      %a.col-md-4{href: "#headers"}
        Headers
      %a.col-md-4{href: "#examples"}
        Example
    %br
    %br
    %h3#resource_uri
      Resource URI
    .panel.panel-default
      .panel-heading
        URI
      .panel-body.display-uri
        %code
          ="https://dbc-simpledata.herokuapp.com/services/#{@version.service.slug}/v#{@version.number}/records"
    %table.table.table-striped.table-bordered
      %caption
        Optional Parameters
      %th
        Parameter
      %th
        Description
      %tr
        %td
          only
        %td
          Select which fields will be returned for each record.  Multiple fields can be delimited with a comma.
          If not specified, all fields will be returned.
      %tr
        %td
          filter[fieldName]
        %td
          Filter results based around field equality. A field name and value must be provided. Multiple fields can have a filter in the same query.
          If not specified, no filter is applied.
      %tr
        %td
          sortby
        %td
          Specify a field by which to sort the dataset.
          f not specified, defaults to insertion_id.
      %tr
        %td
          order
        %td
          Specify ordering of records by the `sortby` field. Either "asc" or "desc".
          If not specified, defaults to "asc".
      %tr
        %td
          page
        %td
          Specify which page of the data to return.
          If not specified, defaults to 0.
      %tr
        %td
          page_size
        %td
          Specify the number of records to return per page.
          If not specified, defaults to 50.
      %tr
        %td
          limit
        %td
          Specify the maximum number of records to return in total.
    %br
    .service_headers
      %h3#headers
        Headers
      -if current_user && current_user.organization_id == @service.organization_id
        =link_to "Update Header Descriptions", "/services/#{@service.slug}/versions/#{@version.number}/headers/update", :class => "btn update-headers-btn btn-primary form-control"
      %table.table.table-striped.table-bordered
        %tr
          %th
            Header
          %th
            Type
          %th
            Description
        - @version.headers.each do |header|
          %tr
            %td
              = header.name
            %td
              =header.data_type if header.data_type
              =header.data_type if header.data_type.nil?
            %td
              - if header.description != "" && header.description != nil
                = header.description
              - elsif @service.organization_id == current_user.organization_id
                %span.warning
                  =link_to "Please add a description", "/services/#{@version.service.slug}/versions/#{@version.number}/headers/update" if header.description.nil? || header.description == ""
              - else
                No description provided.
    %br
    %h3#examples
      Example
    .panel.panel-default
      .panel-heading
        Query Format
      .panel-body.display-uri
        %code
          ="https://dbc-simpledata.herokuapp.com/services/#{@version.service.slug}/v#{@version.number}/records?api_token=#{SecureRandom.urlsafe_base64}&only=field1%2Cfield2&filter[field1]=value1&filter[field2]=value2&sortby=field1&order=asc&page=0&page_size=50&limit=100"
    .panel.panel-default
      .panel-heading
        Example Response Format
      .panel-body.display-uri
        %pre
          %code= @response
  %ul.serv-list
    %li.serv-name
    %h4 Version Details:
    %ul
      %li
        License Type:
        = @service.license
        %a{"title" => "Learn more about the #{@service.license} from the Choose A Licence site.", "data-placement" => "right", "data-toggle" => "tooltip", :href => "http://choosealicense.com/", :rel => "tooltip", target: "_blank" }
          %i.fa.fa-info-circle
      %li
        Creator:
        = link_to "#{@organization.name}", "/organizations/#{@organization.id}"
      %li= @version.created_at.strftime("Created: %B %d, %Y")
      %li= @version.updated_at.strftime("Last Update: %B %d, %Y")
      %li= 'Total Records: ' + @version.total_records.to_s


