.col-md-8.col-md-offset-2
  .org-banner
    %h1
      = @service.name
      %span.badge
        ="V#{@version.number}"
    %p.org-desc
      = @service.description
    %br
    %h4
      %a.col-md-4{href: "#resource_uri"}
        Resource URI
      %a.col-md-4{href: "#headers"}
        Headers
      %a.col-md-4{href: "#examples"}
        Example
    %br
    %br
    %h3
      Resource URI
    %code
      ="https://dbc-simpledata.herokuapp.com/services/#{@version.service.slug}/v#{@version.number}/records"
    %table.table.table-striped.table-bordered
      %caption
        Optional Parameters
      %th
        Parameter
      %th
        Description
      %tr
        %td
          only
        %td
          Select which fields will be returned for each record.  Multiple fields can be delimited with a comma.
          If not specified, all fields will be returned.
      %tr
        %td
          filter[fieldName]
        %td
          Filter results based around field equality. A field name and value must be provided. Multiple fields can have a filter in the same query.
          If not specified, no filter is applied.
      %tr
        %td
          sortby
        %td
          Specify a field by which to sort the dataset.
          f not specified, defaults to insertion_id.
      %tr
        %td
          order
        %td
          Specify ordering of records by the `sortby` field. Either "asc" or "desc".
          If not specified, defaults to "asc".
      %tr
        %td
          page
        %td
          Specify which page of the data to return.
          If not specified, defaults to 0.
      %tr
        %td
          page_size
        %td
          Specify the number of records to return per page.
          If not specified, defaults to 50.
      %tr
        %td
          limit
        %td
          Specify the maximum number of records to return in total.
    %h4 Example Query
    %p
      ="https://dbc-simpledata.herokuapp.com/services/#{@version.service.slug}/v#{@version.number}/records?only=field1%2Cfield2&filter[field1]=value1&filter[field2]=value2&sortby=field1&order=asc&page=0&page_size=50&limit=100"
    .service_headers
      %h3 Headers:
      %ul
        - @version.headers.each do |header|
          %li
            = header.name
      - if @service.organization_id == current_user.organization_id
        = link_to "Modify header descriptions", "/services/#{@version.service.slug}/versions/#{@version.number}/headers/update"
    .service_example_json
      %h3 Example Response:
      = @service.latest_version.records.first.to_json(except: ["insertion_id", "_id"])
    .versions
      %h4
        This is version
        =@version.number
        of
        ="#{@service.name}" + '.'
        The latest version is
        ="#{@service.latest_version.number}" + '.'
