.col-md-8.col-md-offset-2
  %h1 Describe your headers:
  = form_tag "/services/#{@version.service.slug}/versions/#{@version.id}/headers", :class => "headers-form", action: :post do
    .header-form
      %ul
      - @headers.each do |header|
        %li
          %p.header-name
            Label:
            = header.name
          %p
          = label_tag "Description:"
          %p
            = text_area_tag  "headers[][description]", nil , {:class => "form-control"}
          = label_tag "Data Type:"
          = select_tag("headers[][data_type]", options_for_select([["Text", :string], ["Integer", :integer], ["Decimal Number", :float], ["True or False", :boolean]]))
          %hr
      = submit_tag "Submit", :class => "btn btn-default form-control"
