.col-md-2
.col-md-8
  %h1 Add Descriptions to Your Headers

  = form_tag "/versions/#{@version.id}/headers", action: :post do
    %table
      - @headers.each do |header|
        %tr
          %td
            = label_tag :header_name
          %td
            = header.name
        %tr
          %td
            = label_tag :header_description
          %td
            = text_area_tag "headers[][description]", value: header.description
        %tr
          %td
            = label_tag :data_type
          %td
            = select_tag("headers[][data_type]", options_for_select([["Text", :string], ["Integer", :integer], ["Decimal Number", :float], ["True or False", :boolean]]))
    = submit_tag


.col-md-2
