- if @organization.errors.any?
  .alert.alert-danger.fade.in
    %a.close{"data-dismiss" => "alert", :href => "#"} ×
    %ul
    - @organization.errors.full_messages.each do |msg|
      %li
        = msg
= form_for @organization, url: {controller: "organizations", action: "create"} do |f|
  = f.label :name
  = f.text_field :name, :class => "form-control", :placeholder => "All organizations must have a name."
  = f.label :description
  = f.text_area :description, :class => "form-control", :placeholder => "All organizations must have a description that explains to developers what their organization is all about."
  = f.submit "Submit", :class => "btn btn-primary"
  