.col-md-8.col-md-offset-2
  %h1
    Organizations:
  %ul.service-list
    - @organizations.each do |org|
      %ul.serv-list
        %li
          = link_to "#{org.name}",  organization_path(org)
          = link_to "(expand)", "#", :class => "displayer", :id => "org#{org.id}"
        %ul.hideable{:id => "org#{org.id}"}
          %li.sublist
            = org.description
          %li.sublist
            Created: #{org.created_at.strftime("%B %d, %Y")}
          %li.sublist
            =mail_to org.users.first.email, " Contact email", encode: "javascript", class: "fa fa-envelope"
        %hr
  .custom_pagination
    = will_paginate @organization
