.col-md-8.col-md-offset-2
  %h1
    Organizations:
  %ul.service-list
    - @organizations.each do |org|
      %ul.serv-list
        %li
        = link_to "#" do
          = link_to "#{org.name}", "/services/#{org.id}"
          = link_to "#" do
            %i.fa.fa-chevron-circle-down{:id => "org#{org.id}", :class => "displayer"}
        %ul.hideable{:id => "org#{org.id}"}
          %li.sublist
            = org.description
          %li.sublist
            Created: #{org.created_at.strftime("%B %d, %Y")}
          %li.sublist
            =mail_to org.users.first.email, " Contact email", encode: "javascript", class: "fa fa-envelope"
        %hr
  .custom_pagination
    = paginate @organizations
